<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sistran">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".SistranApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mobile.login.LoginActivity"
            android:theme="@style/MaterialTheme" />
        <activity android:name=".mobile.placa.lister.PlacaLister" />
        <activity android:name=".mobile.placa.lister.PlacaListerDelete" />

        <!--
        receiver android:name="net.sistransito.mobile.SampleAlarmReceiver" >
        </receiver>
        <receiver
            android:name="net.sistransito.mobile.SampleBootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name="net.sistransito.mobile.SampleSchedulingService" />
        -->

        <receiver android:name=".mobile.main.BalancoAlarmReceiver" />
        <receiver
            android:name=".mobile.main.BalancoBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".mobile.main.BalancoSchedulingService" />

        <activity
            android:name=".mobile.main.MainUserActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".mobile.autoinfracao.AutoActivity"
            android:theme="@style/MaterialTheme" />
        <activity android:name=".mobile.autoinfracao.lister.AutoLister" />
        <activity
            android:name=".mobile.tav.TAVActivity"
            android:theme="@style/MaterialTheme" />
        <activity android:name=".mobile.tav.lister.TAVLister" />
        <activity
            android:name=".mobile.tca.TCAActivity"
            android:theme="@style/MaterialTheme" />
        <activity android:name=".mobile.tca.lister.TCALister" />
        <activity
            android:name=".mobile.rrd.RRDActivity"
            android:theme="@style/MaterialTheme" />
        <activity android:name=".mobile.rrd.lister.RRDLister" />
        <activity android:name=".mobile.database.sync.SyncFiles" />
        <activity android:name=".mobile.location.TrackerActivity"></activity>
    </application>

</manifest>