<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sistran">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="net.sistran.SistranApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme">
        <activity
            android:name="net.sistran.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.sistran.mobile.login.LoginActivity"
            android:theme="@style/MaterialTheme"></activity>
        <activity android:name="net.sistran.mobile.placa.lister.PlacaLister"></activity>
        <activity android:name="net.sistran.mobile.placa.lister.PlacaListerDelete"></activity>

        <!--
        receiver android:name="net.sistransito.mobile.SampleAlarmReceiver" >
        </receiver>
        <receiver
            android:name="net.sistransito.mobile.SampleBootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name="net.sistransito.mobile.SampleSchedulingService" />
        -->

        <receiver android:name="net.sistran.mobile.main.BalancoAlarmReceiver"></receiver>
        <receiver
            android:name="net.sistran.mobile.main.BalancoBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <service android:name="net.sistran.mobile.main.BalancoSchedulingService"></service>

        <activity
            android:name="net.sistran.mobile.main.MainUserActivity"
            android:theme="@style/MaterialTheme"></activity>
        <activity
            android:name="net.sistran.mobile.autoinfracao.AutoActivity"
            android:theme="@style/MaterialTheme"></activity>
        <activity android:name="net.sistran.mobile.autoinfracao.lister.AutoLister"></activity>
        <activity
            android:name="net.sistran.mobile.tav.TAVActivity"
            android:theme="@style/MaterialTheme"></activity>
        <activity android:name="net.sistran.mobile.tav.lister.TAVLister"></activity>
        <activity
            android:name="net.sistran.mobile.tca.TCAActivity"
            android:theme="@style/MaterialTheme"></activity>
        <activity android:name="net.sistran.mobile.tca.lister.TCALister"></activity>
        <activity
            android:name="net.sistran.mobile.rrd.RRDActivity"
            android:theme="@style/MaterialTheme"></activity>
        <activity android:name="net.sistran.mobile.rrd.lister.RRDLister"></activity>
        <activity android:name="net.sistran.mobile.database.sync.SyncFiles"></activity>
    </application>

</manifest>